.App {
  height: 100vh;
  /* width: 100%; */
  display: flex;
  /* justify-content: space-between; */
  /* margin: 0 50% 0 50%; */
}

.leftSection{
  background-color: aquamarine;
  flex: 0.25;
}

.centerSection{
  background-color: blueviolet;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.mainCarteDiv{
  background-image: url(./assets/img/firePokemonCard.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /* position: relative; */
  /* z-index: 3; */
  background-color: aqua;
  margin-top: 60px;
  height: 75%;
  width: 45%;
}

.test{
  position: absolute;
  /* z-index: 2; */
  margin: 15px 0px 0px 0px;
  right: 616px;
  font-size: 20px;
}

.imgCenterMainCard{
  position: absolute;
  z-index: 1;
  /* height: 70%; */
  /* width: 100%; */
}

.divCenterBtnDown{
  background-color: brown;
}

.rightSection{
  flex: 0.25;
  background-color: bisque;
}