/* importation police d'écriture pokemon */
@import url('http://fonts.cdnfonts.com/css/pokemon-solid%27');

.App {
  height: 100%;
  /* width: 100%; */
  display: flex;
  /* justify-content: space-between; */
  /* margin: 0 50% 0 50%; */
}

.leftSection{
  background-color: aquamarine;
  flex: 0.25;
  /* width: 25%; */
}

.centerSection{
  background-color: blueviolet;
  flex: 0.5;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.mainCarteDiv{
  background-image: url(./assets/img/firePokemonCard.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /* position: relative; */
  /* z-index: 3; */
  background-color: aqua;
  margin-top: 60px;
  height: 75%;
  width: 45%;
}

.pv{
  /* position: relative; */
  /* z-index: 2; */
  margin: 15px 13px 0px 0px;
  /* right: 616px; */
  float: right;
  font-size: 20px;
}

.EnergyBallFaiblesse{
  /* position: sticky; */
  /* right: 800px; */
  /* top: 480px; */
  /* bottom: 50px; */
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 17px;
}

.imgCenterMainCard{
  position: absolute;
  z-index: 1;
  /* height: 70%; */
  /* width: 100%; */
}

.divCenterBtnDown{
  background-color: brown;
}


/* #################### RIGHT SECTION ##################################################################################################### */
.rightSection{
  flex: 0.25;
  /* width: 25%; */
  /* width: 384px; */
  background-color: bisque;
  overflow-y: scroll;
}

/* .titre-droite{ */
  /* position: fixed; */
  /* width: 100%; */
  
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center; */
  /* margin-left: 68%; */
  /* border: 1px solid black; */
  /* background-color: #ED1C24; */
  /* font-family: 'Pokemon Solid'; */
  /* width: 72vh; */
  /* height: 15%; */
  /* align-items: center; */
/* } */

.titre-droite{
  position: fixed;
  height: 15%;
  width: 25%;
  text-align: center;
  background-color: #ED1C24;
  font-family: 'Pokemon Solid';
  border: 1px solid black;
  /* padding: 10% 0 10% 0; */
}

h2{
  margin: 0;
}

.bloc-spe{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-top: 28.2%;
  /* margin-left: 68%; */
  padding-top: 5%;
  padding-left: 15px;
  border: 1px solid black;

}


.nom-carte{
  border-bottom: 1px solid black;
  font-family: 'Pokemon Solid';
}


.pv-right-section{
  border-bottom: 1px solid black;
  font-family: 'Pokemon Solid';
}


.type-pokemon{
  border-bottom: 1px solid black;
  font-family: 'Pokemon Solid';
}


.atk{
  border-bottom: 1px solid black;
  font-family: 'Pokemon Solid';
}

.bas-carte{
  font-family: 'Pokemon Solid';
}
