/* importation police d'écriture pokemon */
@import url('http://fonts.cdnfonts.com/css/pokemon-solid%27');

.App {
  height: 100%;
  /* width: 100%; */
  display: flex;
  /* justify-content: space-between; */
  /* margin: 0 50% 0 50%; */
}
/* ########### LEFT SECTION ####################################################################### */
.leftSection{
  background-color: aquamarine;
  flex: 0.25;

}
/* ######################################################################################################" */

/* ########### CENTER SECTION ########################################################################################"" */
.centerSection{
  /* background-color: blueviolet; */
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
}

.divHeaderCenter{
  width: 100%;
}

.imgHeaderCenter{
  float: right;
  cursor: pointer;
}

.iconPartage{
  margin: 5px 30px 0 0;
}

.iconDownload{
  margin-right: 10px;
}

.mainCarteDiv{
  background-image: url(./assets/img/firePokemonCard.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: aqua;
  margin-top: 60px;
  border-radius: 17px;
  width: 345.6px;
  height: 485px;
}

.energyBall{
  width: 30px;
  height: 30px;
  border-radius: 17px;
}

/* ---------- HEADER CARD -------------------------------------------------------------------------------- */
.headerCardMain{
  display: flex;
  height: 10.3%;
}


.cardName{
  width: 35%;
  margin: 4.9% 0 0 23.5%;
  font-size: 20px;
}

.pPv{
  position: relative;
  margin: 5.5% 0 0 15.5%;
  font-size: 17px;
}

.pv{
  font-size: 10px;
}

.EnergyBallType{
  position: absolute;
  left: 58.4%;
  top: 10.5%;
}
/* --------------------------------------------------------------------------------- */

/* ------- CENTER OF CARD (IMG) -------------------------------------------------------------------------- */
.imgCenterMainCard{
  margin-left: 9%;
  width: 82.5%;
  height: 39.2%;
}
/* --------------------------------------------------------------------------------------- */

/* ---------- DIV ATTACK--------------------------------------------------------------------------- */
.divAtk{
  margin-top: 13px;
  height: 158px;
}

.attack1{
  display: flex;
  padding: 62px 0 0 15px; 
  color: aliceblue;
}

.energyBallTypeAtk{
  margin: 5px 0 0 0;
}

.attackName{
  margin-right: 5px;
 font-size: 15;
 font-weight: bold;
}
.attackDesc{
  margin: 0 0 0 5px;
  font-size: 12px;
  overflow-wrap: break-word;
  /* padding: 0 0 5px 5px; */
}

.attack2{
  display: flex;
  margin-top: -8px;
  padding: 0 0 0 15px; 
  color: aliceblue;
}


.damage1{
  float: right;
}

.cardFooter{
  height: 63.8px;
}

/* -------- CARD FOOTER---------------------------------------- */
.energyBallFooter{
  width: 15px;
  height: 15px;
  border-radius: 17px;
  margin: 12px 0 0 30px;
}
.divCardWeakness{
  display: flex;
}

.pCardWeakness{
  font-size: 10px;
  margin: 12.5px 0 0 3.5px;
}

.divContainerRR{
  display: flex;
  font-size: 10px;
  margin-top: 3px;
}

.divCardRetreat{
  display: flex;
}

.divCardResistance{
  display: flex;
  width: 130px;
}

.pCardResistance, .pCardRetreat{
  margin: 12.5px 0 0 3.5px;
}
/* ###############################################################################################################" */

/* .divCenterBtnDown{
  background-color: brown;
} */
/* btn random */
.btnRandom{
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #ED1C24;
}

/* #################### RIGHT SECTION ##################################################################################################### */
.rightSection{
  flex: 0.25;
  /* width: 25%; */
  /* width: 384px; */
  /* background-color: bisque; */
  overflow-y: scroll;
}

.titre-droite{
  position: fixed;
  z-index: 5;
  height: 15%;
  width: 25%;
  text-align: center;
  background-color: #ED1C24;
  font-family: 'Pokemon Solid';
  border: 1px solid black;
}

h2{
  margin: 0;
}

.bloc-spe{
  display: flex;
  flex-direction: column;
  margin-top: 28.2%;
  padding-top: 5%;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid black;

}


.nom-carte{
  border-bottom: 1px solid black;
  font-family: 'Pokemon Solid';
}

.nameInputText, .pvInputNb, .inputImage{
  padding: 5px;
  margin-right: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  /* border: 2px solid grey; */
  float: right;
}

.nameInputText:focus, .pvInputNb:focus{
  border: 2px solid #ED1C24;
  outline: none;
}

/* ------------- MODIFICATION DE CARTE------------------------------------- */
.pv-right-section{
  border-bottom: 1px solid black;
  font-family: 'Pokemon Solid';
}


.type-pokemon{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  font-family: 'Pokemon Solid';
}

.image{
  border-bottom: 1px solid black;
  font-family: 'Pokemon Solid';
}

.atk{
  border-bottom: 1px solid black;
  font-family: 'Pokemon Solid';
}

.containerInputAtk{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.atkInputMargin{
  margin-top: 10px;
}

.dmgInput{
  width: 40px;
}

/* ----- BAS DE CARTE ---------------------------------------------------------- */
.bas-carte{
  font-family: 'Pokemon Solid';
}

.downPageTitle{
  text-align: end;
  margin-right: 25px;
  font-weight: bold;
}

.divWeakness, .divResistance{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-right: 25px;
}

.divRetreat{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-right: 25px;
}